body {
    font-family: 'Source Sans Pro', serif;
    font-size: 23px;
    font-weight: bolder
}

.startpage-body {
    font-family: 'Source Sans Pro', serif;
    font-size: 123px;
    font-weight: 100;
}
