
@font-face {
    font-family: 'Nexa Slab Regular';
    src: url(../fonts/Nexa%20Slab%20Regular.otf)
}

@font-face {
    font-family: 'BebasNeue Regular';
    src: url(../fonts/BebasNeue%20Regular.ttf)
}
@font-face {
    font-family: 'BebasNeue Bold';
    src: url(../fonts/BebasNeue%20Bold.ttf)
}
@font-face {
    font-family: 'Aleo-Regular';
    src: url(../fonts/Aleo-Regular.otf)
}

body {
    font-family: 'Source Sans Pro', serif;
    font-size: 23px;
}

wrapper {
    background-color: #7F7D7D;
}

.startpage-leftbox {
    /*padding-top:  5%;*/
    width: 80%;
    border-right: 3px solid #5B5B5C;
    border-right-style: groove;
    float: left;
    padding-left: 1%
}
.startpage-leftbox p{
    font-family: 'Source Sans Pro', serif;
    font-size: 30px;
    font-weight: ;
    padding-right: 20px;
    /*color: #5B5B5C;*/
    text-align: right;
}

.media {
    position: fixed;
    bottom: 5%;
    left: 1%;
    margin-bottom: 2%;
}
.startpage-rightbox {
    width: 20%;
    float: right;
}
.startpage-rightbox wrap{
    font-family: 'Aleo-Regular', serif;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 25%;
    color: #5B5B5C;
    text-align: left;
    padding-right: 25%;
}
.startpage-rightbox h1{
    font-family: 'BebasNeue Bold', serif;
    font-size: 33px;
    font-weight: 100;
    padding-left: 2%;
    padding-right: 25%;
    right: 4%;
    color: #5B5B5C;
    text-align: right;
}


.startpage-header {
    font-family: 'BebasNeue Regular', serif;
    padding-top:  2%;
    padding-bottom: 1%;
    padding-right: 5%;
    margin-bottom: 2%;
    color: #eee;
    background-color: #053247;
    font-size: 200%;
    text-align: right;
    padding-left: 7%;
    font-weight: bolder;
}
.startpage-circle {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
	border-radius: 50%;
	-webkit-border-radius:  50%;
	-moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url(../img/dp.jpg) no-repeat;
    position: fixed;
    bottom: 5%;
    right: 5%;
    margin-bottom: 2%;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
	animation-timing-function: linear;
    
}
.startpage-circle img {
    opacity: 0;
	filter: alpha(opacity=0);
}

    
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background-color: #053247;
    color: #eee;
    }

.footer center {
    font-family: 'Aleo-Regular';
    text-align: center;
}
.footer left{
    font-family: 'Aleo-Regular';
    text-align: left;
    padding-left: 1%;
}